*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --index: calc(1vw + 1vh);
}


@font-face {
    font-family: meduim-font;
    src: url(../../static/fonts/TTtravels/TTTravels-Medium.woff2)
}

@font-face {
    font-family: demiBold-font;
    src: url(../../static/fonts/TTtravels/TTTravels-DemiBold.woff2);
}


@font-face {
    font-family: demiBoldItalic-font;
    src: url(../../static/fonts/TTtravels/TTTravels-DemiBoldItalic.woff2);
    font-style: italic;
}


.projects-container{
    color: #fff;
    border-bottom: 1px solid #FFA3A3;
}

.header{
    font-size: calc(var(--index)*2);
    font-style: demiBold-font, sans-serif;
    margin-left: calc(var(--index)*7);
    margin-right: calc(var(--index)*7);
    margin-bottom: calc(var(--index));
}



.types {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: calc(var(--index) * 25);
    height: calc(var(--index) * 2.2);
    border: 3px solid #FFA3A3;
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: calc(var(--index));
  }
  
  .type {
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: calc(var(--index)/2.3) calc(var(--index)*1.6);
    font-size: calc(var(--index));
    font-style: medium-font;
  }
  
  .type.selected {
    background-color: #FFA3A3;
    color: #000;
  }


.projects{
    margin-left: calc(var(--index)*7);
    margin-right: calc(var(--index)*7);
}



.no-projects-message{
    text-align: center;
    font-size: calc(var(--index));
    font-style: medium-font;
}

.project-card{
    display: flex;
}

.number{
    font-size: calc(var(--index)*2);
    font-style: demiBold-font, sans-serif;
}

.card{
    border: 3px solid #FFA3A3;
    border-radius: calc(var(--index)/3);
    padding: calc(var(--index)) calc(var(--index));
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(var(--index)*3);
    min-width: 100%;
}




.about-project{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: calc(var(--index));
}


.title-project{
    font-size: calc(var(--index)*1.5);
    font-style: demiBold-font, sans-serif;
    margin-top: calc(var(--index)*-0.7);
    margin-bottom: calc(var(--index));
}


.description-project{
    font-size: calc(var(--index)*0.8);
    font-style: medium-font;
    margin-bottom: calc(var(--index));
}

.more-button{
    background: none;
    border: 3px solid #FFA3A3;
    color: #fff;
    font-size: calc(var(--index)*0.8);
    font-style: medium-font;
    border-radius: 50px;
    padding: calc(var(--index)/2) calc(var(--index));
    margin-right: calc(var(--index));
}

.card-image-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image{
    width: calc(var(--index)*15);
    border-radius: calc(var(--index)/3);
}






@media (max-width: 768px) {
    .card{
      display: flex;
      flex-direction: column;
    }  

    .more-button{
        margin-bottom: calc(var(--index));
    }
  }

